/* --------------------------------------------------------------
 /* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
 -------------------------------------------------------------- */
@import 'less/lesshat.less';
/* --------------------------------------------------------------
 /* WordPress Core
 -------------------------------------------------------------- */
@import 'less/wordpress-core.less';
/* --------------------------------------------------------------
 /* Shortcodes Ultimate Custom - ACTIVATE ONLY IF USED
 -------------------------------------------------------------- */
//@import 'less/shortcodes-ultimate-custom.less';
/* --------------------------------------------------------------
 Variables
 -------------------------------------------------------------- */
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #3F3E3E;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@white: #ffffff;
@blue: #2B7BCB;
@orange: #FFB12A;

/* Theme commons
 -------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}@import 'less/layouts.less';

/* --------------------------------------------------------------
 Body default
 -------------------------------------------------------------- */
html, body { height: 100%; }

body {
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
    color: @black;
}

a {
    .transition(all .2s ease-in-out);

    &:hover { text-decoration: none; }
}

.logo-container {
    text-align: center;

    & img {
        display: inline-block;
        max-height: 450px;
    }
}

.slogan-container {
    padding-top: 50px;
    text-align: center;

    & img { display: inline-block; }
}

.letter-container {
    & h2 {
        font-size: 215px;
        white-space: pre-wrap;
        /* css-3 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        word-wrap: break-word;
        /* Internet Explorer 5.5+ */
        line-height: 195px;
        font-weight: 900;
        color: @black;
    }
}

.letter-360 {
    text-align: center;

    & img { display: inline-block; }
}

.info-container {
    font-size: 20px;
    font-weight: 100;

    & img {
        width: 150px;
        padding-top: 50px;
        margin-bottom: 30px;
    }
}

.info-container2 { margin-top: 30px; }

.the-services-1, .the-services-3, .the-services-5, .the-services-7, .the-services-9, .the-services-11, .the-services-13 { background: #cccccc; }

.the-services-2, .the-services-4, .the-services-6, .the-services-8, .the-services-10, .the-services-12, .the-services-14 { background: #ffffff; }

.img-behance { width: auto !important; }

#fp-nav ul li .fp-tooltip {
    font-family: 'Titillium Web', sans-serif;
    color: @black;
}

.the-footer {
    background: #141414;
    color: #FFF;
    font-size: 18px;
    font-weight: 100;

    & a { color: #d3d3d3; }
}

.footer-social .fa {
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.wpcf7-form-control {
    width: 100%;
    color: #000 !important;
    padding: 5px 8px;
    font-weight: 400;
}

.wpcf7-textarea { height: 50px; }

.wpcf7-submit {
    background: #515151;
    border: 0;
    padding: 10px 15px;
    width: auto;
    margin-left: auto;
    margin-right: 0;
    display: block;
}

.home-client-slider-item {
    padding: 15px;
    text-align: center;
    display: flex;
    /* add */
    justify-content: center;
    /* add to align horizontal */
    align-items: center;
    /* add to align vertical */
    font-size: 0;
    min-height: 200px;

    & img {
        font-size: 0;
        display: inline-block;
        vertical-align: middle;
    }
}

.the-clients {
    background: #141414;
    color: #FFF;
}

.info-about { padding-top: 9%; }

.info-behance { padding-top: 13%; }

.menu-btn-container {
    position: fixed;
    top: 5px;
    left: 20px;
    width: 150px;
    height: 150px;
    z-index: 15;
    font-size: 35px;

    & .fa { cursor: pointer; }
}

.menu-big-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.72);
    color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;

    & ul {
        list-style: none;
        padding-left: 0;

        & li {
            padding-bottom: 15px;

            & a {
                color: #FFF;
                .transition(all .3s ease-in-out);

                &:hover {
                    color: #c4c4c4;
                    .transition(all .3s ease-in-out);
                }
            }
        }
    }
}

.menu-big-social-container {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #FFF;
    padding-bottom: 10px;
    font-size: 30px;

    & a {
        color: #FFF;
        .transition(all .3s ease-in-out);

        &:hover {
            color: #c4c4c4;
            .transition(all .3s ease-in-out);
        }
    }

    & .fa {
        margin-left: 7.5px;
        margin-right: 7.5px;
        cursor: pointer;
    }
}

.btn-show { display: inline-block; }

.btn-hide { display: none; }

.fa-times { color: #FFF; }

.menu-closed {
    opacity: 0;
    z-index: -2;
    .transition(all .3s ease-in-out);
}

.menu-opened {
    opacity: 1;
    z-index: 10;
    .transition(all .3s ease-in-out);
}

.brochure-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10;
    font-size: 18px;
    font-weight: 300;

    & a { color: #3F3E3E; }
}

.btn-custom-brochure {
    background: none;
    border: 1px solid black;
    padding: 10px 15px;
    .transition(all .3s ease-in-out);

    & .fa { padding-left: 5px; }

    &.btn-custom-brochure:hover {
        background: #b5b5b5;
        .transition(all .3s ease-in-out);
    }
}
