/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 768px
-------------------------------------------------------------- */
@media (max-width: 600px) {
    .menu-btn-container {
        font-size: 50px;
    }
    #fp-nav {
        display: none;
    }
    .letter-container h2 {
        font-size: 50px;
        line-height: 60px;
    }
    .info-container img {
        padding-top: 0px;
    }
    .menu-big-container ul li {
        padding-bottom: 20px;
        display: inline-block;
        width: 25%;
        margin-bottom: 25px;
    }
    .menu-big-social-container {
        width: 100%;
    }
}
@media (max-width: 533px) {
    .menu-big-container ul li {
        padding-bottom: 20px;
        display: inline-block;
        width: 48%;
        margin-bottom: 15px;
        font-size: 15px;
    }
}
@media (max-width: 414px) {

}
@media (max-width: 375px) {

}
@media (max-width: 360px) {

}
@media (max-width: 320px) {

}
@media (max-width: 240px) {

}
