/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {

}
@media (max-width: 1680px) {

}
@media (max-width: 1600px) {

}
@media (max-width: 1440px) {

}
@media (max-width: 1366px) {
    .menu-big-container ul li {
        padding-bottom: 12px;
    }
}
@media (max-width: 1280px) {

}
@media (max-width: 1170px) {

}
@media (max-width: 1024px) {
    .letter-container h2 { font-size: 200px; }
    .menu-big-social-container {
        width: 30%;
    }
}
@media (max-width: 992px) {

}
