/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
    .letter-container h2 {
        font-size: 135px;
        line-height: 125px;
    }
    .wpcf7 {
        & .col-sm-6 {
            padding: 0;
        }
        & .col-xs-6 {
            padding: 0;
        }
    }
}
@media (max-width: 800px) {
    .menu-big-social-container {
        width: 50%;
    }

}
@media (max-width: 768px) {
    .info-container {
        font-size: 16px;
        font-weight: 100;
    }
    .info-container img {
        width: 100px;
        padding-top: 50px;
        margin-bottom: 30px;
    }
}
